*{
    margin:0;
    padding:0;
}
section{
    background-image:url("images/blog.jpg");
    //background-repeat:no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    width:47vw;
    height:57vh;
    background-image:url("images/intro.jpg");
    background-size:cover;
   // background-repeat:no-repeat;
    position:relative;
}
span{
    font-size:2vw;
    font-family:'Bitter';
    color:white;
    display:block;
}
.container .inner1{
    width:50%;
    height:100%;
    position:absolute;
    left:0;
    text-align:center;
    margin-top:5%;
}
.inner1 a{
    display:inline-block;
    width:60%;
    height:6%;
    margin-bottom:11%;
    padding:4% 4%;
    font-family:'bitter';
    color:white;
}
.fb{
    background:#173651;
}
.gl{
    background:#462b2b;
}
.container .inner2{
    width:50%;
    height:100%;
    position:absolute;
    right:0;
    background:rgb(255, 255, 255);
    text-align:center;
}
h3{
    font-size:2.5vw;
    font-family:'Arial black';
    margin-bottom:13%;
    margin-top:6%;
}
input[type=text],input[type=password]{
    width:80%;
    height:10%;
    margin-bottom:3%;
    border:0;
    background-color:transparent;
    border-bottom:1px solid #4b4040; 
}
input[placeholder]{
    font-size:1.4vw;
    padding-left:3%;
    font-family:'Arial';
}
.btn {
    width: 40%;
    height: 10%;
    margin-bottom: 9vh;
    font-family: 'Arial';
    font-size: 1.3vw;
    background-color: #4b4040;
    color: white;
    border: 1px solid;
}






